aiohttp
aiosignal
altair
annotated-types
anthropic
anyio
arxiv
asgiref
asttokens
attrs
backcall
backoff
bcrypt
beautifulsoup4
bleach
blinker
bs4
build
cachetools
certifi
cffi
chardet
charset-normalizer
Chroma
chroma-hnswlib
chromadb
click
colorama
coloredlogs
comm
dataclasses-json
debugpy
decorator
deepdiff
defusedxml
Deprecated
distro
dnspython
docopt
docx
docx2txt
email_validator
emoji
executing
faiss-cpu
fastapi
fastapi-cli
fastjsonschema
feedparser
filelock
filetype
flatbuffers
frozenlist
fsspec
gitdb
GitPython
google-auth
googleapis-common-protos
greenlet
grpcio
h11
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
ipykernel
ipython
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kubernetes
langchain
langchain-anthropic
langchain-chroma
langchain-community
langchain-core
langchain-experimental
langchain-huggingface
langchain-ollama
langchain-openai
langchain-text-splitters
langchainhub
langdetect
langsmith
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mistune
mmh3
monotonic
mpmath
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
numpy
oauthlib
ollama
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
ordered-set
orjson
outcome
overrides
packaging
pandas
pandocfilters
parso
pickleshare
pillow
pipreqs
platformdirs
posthog
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
pypdf
PyPika
pyproject_hooks
pyreadline3
PySocks
python-dateutil
python-docx
python-dotenv
python-iso639
python-magic
python-multipart
python-pptx
pytz
PyYAML
pyzmq
rapidfuzz
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
selenium
sentence-transformers
sgmllib3k
shellingham
six
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
sympy
tabulate
tenacity
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
toolz
torch
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typer
types-requests
typing-inspect
typing_extensions
tzdata
unstructured
unstructured-client
upstash-redis
urllib3
uvicorn
watchdog
watchfiles
wcwidth
webencodings
websocket-client
websockets
wikipedia
wrapt
wsproto
XlsxWriter
yarg
yarl
zipp
